.container1{
    padding: 30px;
    background-color: rgb(184, 174, 174);
    border-radius: 15px;
    width: 500px;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.caard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   color:white;
   text-align: center;
}
.caaard{
    text-align: center;
}
input[type ="text"], input[type ="date"], input[type ="number"],select,textarea{

    background: none;
    background-color: ivory;
    border: 2px solid #3498db;
    border-radius: 20px;
    display: block;
    text-align: center;
    width: 200px;
    padding: 7px 5px;
    outline: none;
    color: black;
    transition: 0.25s;
    height:50px;
    }
 /* input[type ="text"]:focus, input[type ="date"]:focus,select:focus,textarea:focus{
    
    width: 280px;
    border-color: #2ecc71;
    } */
    input[type ="submit"]
    {
        background: none;
        background-color: #407daf;
        border: 2px solid #2ecc71;
        border-radius: 20px;
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 14px 40px;
        outline: none;
        color: black;
        transition: 0.25s;
        cursor: pointer;
    
    }
     input[type ="submit"]:hover{
        background-color: #2ecc71;
    }

    h3{
        color: white;
        font-weight: bolder;
    }